<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PonyligaWebsite</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Slalom">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Slalom
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Becherrennen">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Becherrennen
            </NavLink>
        </li>
        <li class="nav-item px-3">
			<NavLink class="nav-link" href="Flaggenrennen">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Flaggenrennen
			</NavLink>
		</li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Kartoffelrennen">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kartoffelrennen
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Sacklaufen">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sacklaufen
            </NavLink>
        </li>
                <li class="nav-item px-3">
            <NavLink class="nav-link" href="Steine">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Steine
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
